body {
	background: #FFFFFF;
}

.passport-series {
	background: #FFFFCC;
}

.passport-number {
	background: #FFFFCC;
}

.picture-directory {
	background: #FFFCCC;
}

.view-area {
	
}

#fMap{
 height: 350px;
 width: 600px;
}


#galleria { width: auto; height: 900px; background: #000; 
}


#fs {
position: relative;
top: 30px;
right: 20px;
text-align: right;
color: #ccc;
font: italic 11px/1 arial,sans-serif;
z-index: 2;
cursor:default;
}
#fs a:hover,a.fs:active {color:#fff; background: none;}



.hidden {display:none}